
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "tailwindcss";

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 5px !important;
}

@media (max-width: 768px) {
    .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        padding: 8px !important;
    }
}


.heading{

        font-family: 'Orbitron', sans-serif;
   
}

@media (max-width: 768px) {
    .css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 8px !important  ;
    }
}

<<<<<<< HEAD
.css-jiof3z-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root{
padding: 10px !important;
 }
 /* .slick-track{
    height: 150px !important;
 } */
=======

>>>>>>> d41560c8025ac45cc1564ea4edd3714ccac81f46
