
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import "tailwindcss";

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 5px !important;
}

@media (max-width: 768px) {
    .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        padding: 8px !important;
    }
}


.heading{

        font-family: 'Orbitron', sans-serif;
   
}

@media (max-width: 768px) {
    .css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 8px !important  ;
    }
}


